body{
	background-color: #99ff99;

}
h2{
	font-family: 'Anton', sans-serif;
}

.btt1{

    background-color: #4CAF50; /* Green */
    border: dotted;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: ;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btt2{
   background-color: #555555;/* Green */
    border:dotted;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
