body{
    font-size: 14px;
    
    height: 100%;
      padding: 2em;
  background-color: #333;

}
h2{
    font-family: 'Roboto Slab', serif;
color: #fff;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /*background-color:#99ccff;*/
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.names{
font-family: 'Concert One', cursive;
}
.desc{
    font-family: 'Ubuntu Condensed', sans-serif;
}
p{
    text-align: left;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
  }