body{
    font-size: 14px;
    
    height: 100%;
      padding: 2em;
     background-color:  #9999FF;

}
h2{
    font-family: 'Roboto Slab', serif;
color: #fff;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /*background-color:#99ccff;*/
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.names{
font-family: 'Concert One', cursive;
}
.desc{
    font-family: 'Ubuntu Condensed', sans-serif;
}
p{
    text-align: left;
}